@import url(../css/variables.css);
@import url(../css/basic.css);
@import url(../css/global-classes.css);
@import url(../css/header.css);

/* ================================== */
/* ========== uniquely =========== */
/* .uniquely {} */
.uniquely__text {
   /* font-size: 64px; */
   font-size: 3.4vw;
   line-height: 150%;
   font-weight: 700;
   /* margin-bottom: 110px; */
   margin-bottom: 5.6vw;
}
.uniquely__text:last-child {
   margin-bottom: 0;
}
.uniquely__text span {
   color: var(--secondary);
}
/* ====== Медиа 600px ====== */
@media (max-width: 600px) {
   .uniquely__text {
      font-size: 20px;
      margin-bottom: 45px;
   }
}
/* ========== uniquely /=========== */
/* ========== picture =========== */
.picture__box {
   display: flex;
   flex-direction: column;
   gap: 10vw;
}
@media (max-width: 600px) {
   .picture__box {
      gap: 20px;
   }
}
/* ========== picture /=========== */
/* ========== price=========== */
.price__box {
   display: flex;
   justify-content: space-between;
   padding-left: 14.5vw;
   gap: 5vw;
}
.price__block {
   display: flex;
   box-shadow: -4px 0px 52px -13px #1C31EA;
   border-radius: 40px;
   padding: 211px 165px;
   padding: 211px 8.5vw;
   margin: 0 auto;
}
.price__block-vrap {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 22px;
   width: 388px;
   /* padding: 211px 0; */
   margin: 0 auto;
}
.price__unit {
   display: block;
   font-size: 24px;
   line-height: 150%;
   font-weight: 700;
   width: 100%;
   padding: 15px 15px 19px 60px;
   border: 2px solid var(--st);
   border-radius: 20px;
   position: relative;
}
.price__unit::before {
   content: '';
   top: 21px;
   left: 24px;
   display: block;
   position: absolute;
   background: url(../img/check.svg) 0 0 / contain no-repeat;
   width: 26px;
   height: 20px;
}
.price__subtitle {
   font-size: 64px;
   font-weight: 700;
   line-height: 150%;
}
.price__link {
   font-size: 24px;
   line-height: 150%;
   font-weight: 700;
   width: 100%;
   padding: 15px 19px;
   border: 2px solid var(--st);
   border-radius: 20px;
   color: var(--st);
   text-align: center;
   margin-top: 10px;
}
.price__text {
   font-size: 20px;
   line-height: 150%;
   font-weight: 500;
   max-width: 422px;
}
/* ====== Медиа 1200px ====== */
@media (max-width: 1200px) {
   .price__box {
      display: flex;
      justify-content: space-between;
      padding-left: 0;
      gap: 30px;
  }
}
/* ====== Медиа 990px ====== */
@media (max-width: 990px) {
   .price__block-vrap {
      padding: 0;
      margin: 0 auto;
  }
   .price__box {
      flex-direction: column-reverse;
      gap: 5vw;
  }
  .price__block {
   padding: 100px 20px;
   }
  .price__text {
   max-width: 100%;
   }
}
/* ====== Медиа 768px ====== */
@media (max-width: 768px) {
   .price__box {
      gap: 30px;
  }
}

/* ====== Медиа 450px ====== */
@media (max-width: 450px) {
   .price__text {
      font-size: 16px;
  }
  .price__block {
   padding: 45px 20px 85px;
   }
   .price__block-vrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      width: 100%;
      /* padding: 211px 0; */
      margin: 0 auto;
  }
   .price__subtitle {
      font-size: 45px;
      margin-bottom: 23px;
  }
  .price__unit {
      padding: 8px 15px 10px 70px;
   }
   .price__unit::before {
      top: 14px;
      left: 32px;
      background: url(../img/check.svg) 0 0 / contain no-repeat;
      width: 26px;
      height: 20px;
  }
  .price__link {
      margin-top: 0;
      padding: 9px 15px;
   }
}
/* ========== price /=========== */
/* ========== review =========== */
.review__box {
   display: flex;
   justify-content: center;
   gap: 78px;
}
.review__box-vr {
   display: flex;
   flex-direction: column;
   gap: 50px;
}
.review__box-item {
   max-width: 728px;
   padding: 24px 22px 16px;
   border-radius: 40px;
   border: 3px solid var(--st);
}
.review__box-item1 {
   margin-top: 64px;
}
.review__box-user {
   display: flex;
   gap: 20px;
   margin-bottom: 16px;
}

.review__box-image {
   width: 64px;
   height: 64px;
   border-radius: 50%;
   overflow: hidden;
}
.review__user {
   font-size: 24px;
   font-weight: 700;
   line-height: 36px;
   margin-bottom: 4px;
}
.review__exec {
   font-size: 20px;
   font-weight: 500;
   line-height: 30px;
}
.review__text {
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
}
/* ====== Медиа 1700px ====== */
@media (max-width: 1700px) {
   .review__box {
      gap: 50px;
  }
}
/* ====== Медиа 900px ====== */
@media (max-width: 900px) {
   .review__box {
      gap: 30px;
  }
}
/* ====== Медиа 768px ====== */
@media (max-width: 768px) {
   .review__box {
      gap: 30px;
      flex-direction: column;
  }
  .review__box-vr {
      gap: 30px;
   }
   .review__box-item {
      max-width: 100%;
      margin: 0;
  }
}
/* ====== Медиа 450px ====== */
@media (max-width: 450px) {
   .review__box {
      gap: 20px;
  }
   .review__box-vr {
      gap: 20px;
  }
   .review__box-item {
      padding: 20px 10px 20px 20px;
  }
  .review__box-image {
   width: 40px;
   height: 40px;
  }
  .review__user {
     font-size: 14px;
     line-height: 21px;
   }
   .review__exec {
      font-size: 12px;
      line-height: 18px;
  }
  .review__box-user {
      margin-bottom: 10px;
   }
   .review__text {
      font-size: 12px;
      line-height: 18px;
  }
}
/* ========== review /=========== */
/* ========= akkard ========= */
.akkard {
   background: url(../img/accordion/bg-01.jpg) 0 0 / cover no-repeat;
}
.accordion {
   max-width: 1022px;
   margin-left: 14.5vw;
   position: relative;
}
.accordion__item {
   /* margin-bottom: 8px; */
   border-radius: 4px;
   border-bottom: 1px solid var(--st);
   box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%);
}
.accordion__header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 12px 20px 16px;
   color: var(--st);
   font-size: 32px;
   line-height: 150%;
   font-weight: 700;
   background-color: var(--bz);
   border-top-left-radius: 0.25rem;
   border-top-right-radius: 0.25rem;
   cursor: pointer;
   transition: background-color 0.2s ease-out;
}
.accordion__header::after {
   flex-shrink: 0;
   width: 1.25rem;
   height: 1.25rem;
   margin-left: auto;
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
   background-repeat: no-repeat;
   background-size: 1.25rem;
   content: "";
}
.accordion__header-txt {
   padding-right: 30px;
}
.accordion__item_show .accordion__header::after {
   transform: rotate(-180deg);
}
/* .accordion__header:hover {
   background-color: var(--secondary);
   box-shadow: 0px 8px 62px -20px #1C31EA;
} */
.accordion__item_hidden .accordion__header {
   border-bottom-right-radius: 0.25rem;
   border-bottom-left-radius: 0.25rem;
}
.accordion__body {
   font-size: 20px;
   line-height: 150%;
   padding: 0.75rem 1rem;
   overflow: hidden;
   /* background: #1C31EA; */
   /* box-shadow: 0px 8px 62px -20px #1C31EA; */
   border-bottom-right-radius: 0.25rem;
   border-bottom-left-radius: 0.25rem;
}
.accordion__item:not(.accordion__item_show) .accordion__body {
   display: none;
}
/* ====== media 990px ====== */
@media (max-width: 990px) {
   .accordion {
      margin: 0;
  }
   .accordion__header  {
      font-size: 24px;
   }
   .accordion__body {
      font-size: 16px;
      padding: 0.75rem 0;
  }
}
/* ====== media 768px ====== */
@media (max-width: 768px) {
   .accordion__header  {
      font-size: 18px;
      padding: 12px 0px 16px;
   }
   .accordion__header-txt {
      padding-right: 20px;
  }
}
/* ====== media 450px ====== */
@media (max-width: 450px) {
   .accordion__header  {
      font-size: 16px;
   }
}
/* ========= akkard / ========= */
/* ========= social ========= */
.social__box {
   display: flex;
   flex-direction: column;
   padding: 100px 50px;
   border: 4px solid var(--st);
   border-radius: 40px;
   position: relative;
}
.social__box-icons {
   display: flex;
   justify-content: center;
   gap: 5px;
}
.social__link-icon {
   position: absolute;
   width: 72px;
}
.social__link-icon-1 {
   top: 3vw;
   left: 3vw;
}
.social__link-icon-2 {
   top: 4vw;
   left: 15vw;
}
.social__link-icon-3 {
   top: 1vw;
   right: 36vw;
}
.social__link-icon-4 {
   top: 3.5vw;
   right: 6.5vw;
}
.social__link-icon-5 {
   bottom: 5vw;
   left: 12vw;
}
.social__link-icon-6 {
   bottom: 3vw;
   left: 20vw;
}
.social__link-icon-7 {
   bottom: 1vw;
   right: 27vw;
}
.social__link-icon-8 {
   bottom: 1vw;
   right: 525px;
}
.social__link-icon-8 {
   bottom: 7vw;
   right: 16vw;
}
.social__box-signup {
   max-width: 700px;
   margin: 0 auto 32px;
   text-align: center;
}
.social__subtitle {
   font-size: 40px;
   font-weight: 700;
   line-height: 60px;
}
.social__box-btn {
   display: flex;
   justify-content: center;
}
.social__link-btn {
   display: inline-block;
   font-size: 24px;
   font-weight: 700;
   line-height: 36px;
   padding: 15px 0 19px;
   color: var(--st);
   border: 2px solid var(--st);
   border-radius: 20px;
   width: 328px;
   text-align: center;
}
/* ====== media 1200px ====== */
@media (max-width: 1200px) {
   .social__box-icons {
      margin-bottom: 20px;
   }
   .social__link-icon {
      position: static;
      width: 72px;
   }
}
/* ====== Медиа 768px ====== */
@media (max-width: 768px) {
   .social__box {
      border: none;
   }
   .social__subtitle {
      font-size: 30px;
      line-height: 45px;
  }
}
/* ====== Медиа 600px ====== */
@media (max-width: 600px) {
   .social__box {
      padding: 0;
  }
   .social__subtitle {
      font-size: 20px;
      line-height: 30px;
  }
  .social__link-icon {
   width: 45px;
   }
   .social__link-btn {
      padding: 10px 0 13px;
  }
}
/* ====== media 450px ====== */
@media (max-width: 450px) {
   .social__box-signup {
      margin: 0 auto 10px;
      order: -1;
  }
  .social__link-icon {
   width: 36px;
  }
  .social__link-btn {
   width: 100%;
   }
}
/* ========= social / ========= */







/* ====== Медиа 0px ====== */
@media (max-width: 0px) {

}

/* ====== Медиа 0px /====== */
/* ====== Медиа 0px ====== */
@media (max-width: 0px) {
}

/* ====== Медиа 0px /====== */
/* ====== Медиа 0px ====== */
@media (max-width: 0px) {
}

/* ====== Медиа 0px /====== */
/* ====== Медиа 0px ====== */
@media (max-width: 0px) {
}

/* ====== Медиа 0px /====== */
/* ====== Медиа 0px ====== */
@media (max-width: 0px) {
}

/* ====== Медиа 0px /====== */
/* ====== Медиа 0px ====== */
@media (max-width: 0px) {
}

/* ====== Медиа 0px /====== */
/* ====== Медиа 0px ====== */
@media (max-width: 0px) {
}

/* ====== Медиа 0px /====== */
@media (max-width: 0px) {
}
